@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Modak', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: coral;
    background-color: #e91d63;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}
#navbar{
    background-color: #333;
    color: #fff;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    font-size: 18px;
}
#showcase {
    background-image: url(../images/showcase.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    float: left;
    width: 70%;
    padding:0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding:0 30px;
    box-sizing: border-box;
}
#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding:20px;
    margin-top: 40px;
}
.social-media a{
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}
@media(max-width:600px){
    #main, #sidebar{
        width: 100%;
        float: none;
    }
    .res{
        width: 100%;
    }
}
iframe{
    width: 100%;
    min-height: 1000px;
}
.all{
    background-color: #333;
}